In [1]:
using CSV, DataFrames

# Uploading CPS data

In [2]:
cps = DataFrame(CSV.File("c:\\data\\Bounds\\cps.csv")) # <-change this to the right directory

## Cleaning zero wage

cps = cps[cps.wage .> 0, :]
first(cps,5)

5×3 DataFrame
 Row │ age    wage   educ
     │ Int64  Int64  String
─────┼──────────────────────────────────────────
   1 │    22  12000  some college but no degree
   2 │    21   3500  some college but no degree
   3 │    49  30000  some college but no degree
   4 │    31  32000  bachelor's degree
   5 │    42  89630  doctorate degree

In [3]:
# Numerical value for education

#1.Creating a dictionary

educ_dict = Dict( 
    "grade 11" => 11, 
    "some college but no degree" => 13, 
    "associate's degree, academic program" => 14,
    "grade 10" => 10, 
    "grades 7 or 8" => 8, 
    "grades 1, 2, 3, or 4" => 4, 
    "associate's degree, occupational/vocational program" => 14, 
    "high school diploma or equivalent" => 12, 
    "grade 9" => 9, 
    "none or preschool" => 0, 
    "doctorate degree" => 21,
    "bachelor's degree" => 16, 
    "master's degree" => 14, 
    "grades 5 or 6" => 6, 
    "professional school degree" => 14, 
    "12th grade, no diploma" => 12
    )

Dict{String, Int64} with 16 entries:
  "grade 11"                                            => 11
  "some college but no degree"                          => 13
  "associate's degree, academic program"                => 14
  "none or preschool"                                   => 0
  "doctorate degree"                                    => 21
  "grade 10"                                            => 10
  "bachelor's degree"                                   => 16
  "master's degree"                                     => 14
  "grades 5 or 6"                                       => 6
  "grades 7 or 8"                                       => 8
  "grades 1, 2, 3, or 4"                                => 4
  "associate's degree, occupational/vocational program" => 14
  "professional school degree"                          => 14
  "high school diploma or equivalent"                   => 12
  "grade 9"                                             => 9
  "12th grade, no diploma"                              => 12

In [4]:
#2. transforming cps.educ
f(x) = educ_dict[x]
cps.educ_num = f.(cps.educ)

#3. log of wage
cps.log_wage = log.(cps.wage)
first(cps,3)

3×5 DataFrame
 Row │ age    wage   educ                        educ_num  log_wage
     │ Int64  Int64  String                      Int64     Float64
─────┼──────────────────────────────────────────────────────────────
   1 │    22  12000  some college but no degree        13   9.39266
   2 │    21   3500  some college but no degree        13   8.16052
   3 │    49  30000  some college but no degree        13  10.309

In [5]:
Nobs, c = size(cps)
print("The original data contains ", Nobs, " observations and ",c, " columns.")

The original data contains 22715 observations and 5 columns.

# Best Linear Predictor

In [6]:
using FixedEffectModels

In [7]:
reg(cps, @formula(log_wage ~ educ_num ), Vcov.robust())

                             FixedEffectModel
===========================================================================
Number of obs:                 22715   Converged:                      true
dof (model):                       1   dof (residuals):               22712
R²:                            0.092   R² adjusted:                   0.092
F-statistic:                 2440.69   P-value:                       0.000
===========================================================================
             Estimate  Std. Error    t-stat  Pr(>|t|)  Lower 95%  Upper 95%
───────────────────────────────────────────────────────────────────────────
educ_num     0.124936  0.00252889   49.4034    <1e-99   0.119979   0.129893
(Intercept)  8.57109   0.0336583   254.65      <1e-99   8.50512    8.63707
===========================================================================

In [8]:
reg(cps, @formula(log_wage ~ educ_num + age ), Vcov.robust())

                              FixedEffectModel
=============================================================================
Number of obs:                  22715   Converged:                       true
dof (model):                        2   dof (residuals):                22711
R²:                             0.209   R² adjusted:                    0.209
F-statistic:                  2684.15   P-value:                        0.000
=============================================================================
              Estimate   Std. Error    t-stat  Pr(>|t|)  Lower 95%  Upper 95%
─────────────────────────────────────────────────────────────────────────────
educ_num     0.110902   0.0024148     45.926     <1e-99  0.106169   0.115635
age          0.0377451  0.000712846   52.9498    <1e-99  0.0363478  0.0391423
(Intercept)  7.41447    0.0394616    187.891     <1e-99  7.33712    7.49182
=============================================================================

# Creating Interval Data

In [9]:
using Statistics

In [10]:
wage_quantiles = quantile(cps[!,:wage],[0.0, 0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0], sorted=false);
#wage_quantiles[1] +=-1
wage_quantiles[end] +=1

362303.0

In [11]:
lower(x) = wage_quantiles[sum(wage_quantiles .<=x)]
upper(x) = wage_quantiles[sum(wage_quantiles .<=x)+1]

cps.wage_lower = lower.(cps.wage)
cps.wage_upper = upper.(cps.wage)

cps.logwage_lower = log.(cps.wage_lower)
cps.logwage_upper = log.(cps.wage_upper)

first(cps,3)

3×9 DataFrame
 Row │ age    wage   educ                        educ_num  log_wage  wage_lowe ⋯
     │ Int64  Int64  String                      Int64     Float64   Float64   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    22  12000  some college but no degree        13   9.39266      9000. ⋯
   2 │    21   3500  some college but no degree        13   8.16052         1.
   3 │    49  30000  some college but no degree        13  10.309       30000.
                                                               4 columns omitted

In [12]:
Nobs, c = size(cps)
print("The complete data contains ", Nobs, " observations and ",c, " columns.")

The complete data contains 22715 observations and 9 columns.

# Partial Indentification

### Reading the module

In [13]:
include("C:\\Users\\The Group Leader\\Notebooks\\Research\\Bounds.jl-1\\src\\setBLP.jl")

Main.setBLP

In [14]:
using Main.setBLP

In [15]:
methods(oneDproj)

# 7 methods for generic function "oneDproj":
[1] oneDproj(yl::Vector{<:Real}, yu::Vector{<:Real}, x::Vector{<:Real}) in Main.setBLP at C:\Users\The Group Leader\Notebooks\Research\Bounds.jl-1\src\setBLP.jl:171
[2] oneDproj(yl::Vector{<:Real}, yu::Vector{<:Real}, x::Matrix{<:Real}) in Main.setBLP at C:\Users\The Group Leader\Notebooks\Research\Bounds.jl-1\src\setBLP.jl:212
[3] oneDproj(yl::Vector{<:Real}, yu::Vector{<:Real}, x::Matrix{<:Real}, cord::Int64) in Main.setBLP at C:\Users\The Group Leader\Notebooks\Research\Bounds.jl-1\src\setBLP.jl:182
[4] oneDproj(yl::Vector{<:Real}, yu::Vector{<:Real}, x::Matrix{<:Real}, cords::Vector{Int64}) in Main.setBLP at C:\Users\The Group Leader\Notebooks\Research\Bounds.jl-1\src\setBLP.jl:195
[5] oneDproj(df::DataFrame, yl::Symbol, yu::Symbol, x::Symbol) in Main.setBLP at C:\Users\The Group Leader\Notebooks\Research\Bounds.jl-1\src\setBLP.jl:232
[6] oneDproj(df::DataFrame, yl::Symbol, yu::Symbol, x::Vector{Symbol}) in Main.setBLP at C:\Users\The Group Leader\Notebooks\Research\Bounds.jl-1\src\setBLP.jl:240
[7] oneDproj(df::DataFrame, yl::Symbol, yu::Symbol, x::Vector{Symbol}, cord::Int64) in Main.setBLP at C:\Users\The Group Leader\Notebooks\Research\Bounds.jl-1\src\setBLP.jl:248

### Testing the vector/matrix functions

In [16]:
# Preparing vector and matrix versions of the data

yl = cps.logwage_lower;
yu = cps.logwage_upper;
x1 = cps.age;
x2 = cps.educ_num;
x = [x1 x2];

In [17]:
oneDproj(yl,yu,x1)

1×2 Matrix{Float64}:
 -0.00488786  0.14866

In [18]:
oneDproj(yl,yu,x1)

1×2 Matrix{Float64}:
 -0.00488786  0.14866

In [19]:
oneDproj(yl,yu,x,1)

1×2 Matrix{Float64}:
 -0.00905178  0.144324

In [20]:
oneDproj(yl,yu,x,2)

1×2 Matrix{Float64}:
 -0.0255678  0.345638

In [21]:
oneDproj(yl,yu,x)

2-element Vector{Any}:
 [-0.009051777215652151 0.14432389300937035]
 [-0.025567837808784674 0.3456382284304261]

### Testing the Dataframe version of the functions

In [22]:
oneDproj(cps,:logwage_lower,:logwage_upper,:age)

1×2 Matrix{Float64}:
 -0.00488786  0.14866

In [23]:
oneDproj(cps,:logwage_lower,:logwage_upper,:educ_num)

1×2 Matrix{Float64}:
 0.00178604  0.368579

In [24]:
oneDproj(cps,:logwage_lower,:logwage_upper,[:age,:educ_num],1)

1×2 Matrix{Float64}:
 -0.00905178  0.144324

In [25]:
oneDproj(cps,:logwage_lower,:logwage_upper,[:age,:educ_num],2)

1×2 Matrix{Float64}:
 -0.0255678  0.345638

In [26]:
oneDproj(cps,:logwage_lower,:logwage_upper,[:age,:educ_num])

2-element Vector{Any}:
 [-0.009051777215652151 0.14432389300937035]
 [-0.025567837808784674 0.3456382284304261]